@import "src/common/mixins";
@import "src/common/variables";

@mixin cartBarBlock() {
  width: 33%;
  text-align: center;
  padding: .5em 7em;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 2px;
  color: $textPrimaryColor;
  font-family: $fontFamilyPrimary;
}

@mixin clickedBlock() {
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  font-size: 15px;
  letter-spacing: 1px;
  white-space: nowrap;
  cursor: pointer;
  color: $bgPrimary;
  background-color: $textPrimaryColor;
  font-weight: 600;
  border: 3px solid $textPrimaryColor;
}

@mixin hoverClickedBlock() {
  border: 3px solid $textPrimaryColor;
  color: $textPrimaryColor;
  background-color: $bgPrimary;
  transition: all .3s ease-in-out;
}

.cartBlock {
  @include marginTop();
  background-color: $bgSecondary;
  min-height: 93vh;

  .cartContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    @media screen and (max-width: 414px) {
      width: 90%;
    }

    h3 {
      text-align: center;
      margin-bottom: 15px;
      font-size: 48px;
      font-weight: bolder;
      color: $textPrimaryColor;
      font-family: $fontFamilyPrimary;
      letter-spacing: 1px;
      text-transform: uppercase;
      @media screen and (max-width: 1024px) {
        font-size: 28px
      }
    }

    .cartListBlock {
      .cartList {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        @media screen and (max-width: 576px) {
          justify-content: space-evenly;
        }
      }

      .cartBar {
        position: relative;
        padding: 10px;
        margin: 50px 5px 40px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: $bgPrimary;
        box-shadow: 0 0 15px rgba(195, 195, 195, 0.6);

        a, .checkout {
          text-decoration: none;
          cursor: pointer;
          @include cartBarBlock();
          @include clickedBlock();

          &:hover {
            @include hoverClickedBlock();
          }

        }

        .totalPrice {
          @include cartBarBlock();
          white-space: nowrap;

          .totalText {
            color: $gray;
            font-size: 30px;
            font-weight: normal !important;
            line-height: 1.72;
            letter-spacing: 2px;
          }

          .price {
            font-size: 30px;
            color: $textSecondaryColor;
            line-height: 1.72;
            font-weight: bolder;
          }
        }
      }
    }

    .empty {
      text-align: center;

      p {
        font-size: 15px;
        color: $textPrimaryColor;
        line-height: 2.5;
        font-family: $fontFamilySecondary;
        font-weight: 500;
        letter-spacing: 2px;

      }

      a {
        text-decoration: none;
        font-size: 15px;
        line-height: 2.5;
        font-family: $fontFamilyPrimary;
        color: $textSecondaryColor;
        letter-spacing: 2px;
        &:hover {
          color: $blood;
        }
      }
    }
  }

}