@import "src/common/variables";
@import "src/common/mixins";

.container {
  background-color: $bgSecondary;
  .mainBlock {
    @include container();
    background-color: $bgSecondary;
    padding-top: 17vh;
    //border: 1px solid;
    min-height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
