@import "src/common/variables";


.headerBlock {
  height: 7vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  background-color: $bgPrimary;

  .logo {
    width: 33%;
    height: 100%;
    padding-left: 10px;

    img {
      height: 80%;
    }
  }

  .title {
    text-align: center;
    width: 33%;

    a {
      text-decoration: none;

      h2 {
        text-decoration: none;
        color: $textPrimaryColor;
        font-size: 34px;
        line-height: normal;
        text-transform: uppercase;
        font-weight: bolder;
        letter-spacing: 15px;
        font-family: $fontFamilyPrimary;
      }
    }
  }

  .cart {
    width: 33%;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;

    .totalPrice {
      margin-right: 5px;
    }

    .link {
      a {
        text-decoration: none;
        color: $textPrimaryColor;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
      }
    }
  }
}