@import "src/common/variables";


.headerBlock {
  //border: 1px solid;
  height: 7vh;
  width: 100%;
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  background-color: $bgPrimary;

  .logo {
    height: 100%;
    padding-left: 10px;

    img {
      height: 80%;
      margin-top: 10%;
    }
  }

  .title {
    h2 {
      color: $textPrimaryColor;
      font-size: 34px;
      line-height: normal;
      text-transform: uppercase;
      font-weight: bolder;
      letter-spacing: 15px;
      font-family: $fontFamilyPrimary;
    }
  }

  .cart {
    padding-right: 10px;
  }
}