@font-face {
    font-family: 'Oswald';
    src: local('Oswald'), url("/src/fonts/Oswald/Oswald-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-weight: 200;
    src: local('Oswald'), url("/src/fonts/Oswald/Oswald-ExtraLight.ttf") format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-weight: 700;
    src: local('Oswald'), url("/src/fonts/Oswald/Oswald-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono'), url("fonts/Robot Mono/RobotoMono-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 500;
    src: local('Roboto Mono'), url("fonts/Robot Mono/RobotoMono-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 900;
    src: local('Roboto Mono'), url("fonts/Robot Mono/RobotoMono-Bold.ttf") format('truetype');
}

.App {

}

