
@mixin imgCenter () {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin flexCenter () {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin container () {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}