$textPrimaryColor: #15171f;
$textSecondaryColor: #fa5b2f;
$bgPrimary: #ffffff;
$bgSecondary: #f5f5f5;
$black: #15171f;

$fontFamilyPrimary: 'Oswald', sans-serif;
$fontFamilySecondary: 'Roboto Mono';
//$fontFamilyForBtn: Oswald;