$textPrimaryColor: #15171f;
$textSecondaryColor: #fa5b2f;
$bgPrimary: #ffffff;
$bgSecondary: #f5f5f5;
$black: #15171f;
$gray: #9E9D9D;
$blood: #D0445A;

$fontFamilyPrimary: 'Oswald', sans-serif;
$fontFamilySecondary: 'Roboto Mono', sans-serif;
